body{
  font-family: "Trebuchet MS", sans-serif;
  background-color: #CFCCD6;
}

/*menu*/
.pages{
  list-style: none;
}

li{ 
  list-style: none;
}

a{
  text-decoration: none;
}

/*movie display*/
nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 40px;
  border:1px solid rgba(0,0,0,0.04);
  background-color: #674a53;
  left: 100px;
  top: -100;
  z-index: 1;
}

nav .pages{
  display: flex;
}

/*edit text in the menu bar*/
nav .pages li a{
  height: 40px;
  line-height: 43px;
  margin: 0px;
  padding: 0px 22px;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color:#FBFBFB;
}

.searchbar{
  width:300px;
  height: 30px;
}

nav .pages li a:hover{
  background-color: #9f9f9f;
}

.heading h1{
  font-style: bold;
  align-content: center;
  margin: 90px;
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.494);
  width: 100%;
}

.heading{
  display: flex;
  margin:0px 2%;
}

/*position international movies*/
.sortRatings{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.Movies {
  width: 500px;
  height: 300px;
  box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
  border-radius: 20px;
  margin:0px 30px 30px 30px;
  overflow: hidden;
}

.Movies img{
  width:100%;
  height: 100%;
}

.Movies:hover{
  transform: translateY(-10px);
  transition: all ease 0.2s;
}

.homepageList{
  width:100%;
  height: 400px;
}

.homepageList img{
  width: 100%;
  height: 100%;
}

#list { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

section { 
  width: 100%;
  margin-top: 30px;
  margin-right:30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: all ease 0.2s;
  position: absolute;
}

section img { 
  width: 250px;
}

.section img:hover { 
  transform: translateY(-10px);
  transition: all ease 0.2s;
}



.movieList{
  width:300px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px;
  box-shadow: 2px 2px 45px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.movieList a{
  text-align: center;
  font-weight: bold;
  color: #454242;
  margin: 15px;
}

.movieList:hover{
  transform: translateY(-10px);
  transition: all ease 0.2s;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color: #ffffff;
  background-color: #896A67;
  margin: 25px;
}

.button a:hover{
  background-color: #6a5250;
}

footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(41, 41, 41, 0.501);

}
footer th{
  color:#3f3e3e;
  margin: 10px 5px;
  font-size: 13px;
  font-weight: normal;
}

#db { 
  position:absolute; 
  top:100px;
}